.card-place {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 72px;
    margin-top: 40px;
    width: 100%;
}

.poke-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 220px;
    width: 100%;
    border-radius: 32px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .03);
}

.gif {
    position: relative;
    margin-top: -60px;
    height: 130px;
    width: 110px;
    margin-bottom: 6px;

}

.title-pokecards {
    font-size: 30px;
    font-weight: bold;
    margin: 8px;

}

.num-poke {
    display: flex;
    align-items: center;
    color: slategrey;
    font-weight: bold;
}

.attribute {
    width: max-content;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .03);
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
    padding: 12px 12px;
}
.grass {
    background-color: rgb(38, 235, 90);
}

.fire {
    background-color: rgb(235, 71, 38);
}

.water {
    background-color: rgb(38, 186, 235);
}

.electric {
    background-color: rgb(235, 209, 38);
}

.ice {
    background-color: rgb(38, 219, 235);
}

.fighting {
    background-color: rgb(235, 104, 38);
}

.poison {
    background-color: rgb(176, 38, 235);
}
.ground {
    background-color: rgb(181, 131, 92);
}

.flying {
    background-color: rgb(161, 215, 230);
}

.psychic {
    background-color: rgb(219, 77, 207);
}

.ghost {
    background-color: rgb(131, 24, 133);
}

.bug {
    background-color: rgb(113, 209, 10);
}

.rock {
    background-color: rgb(166, 87, 8);
}

.dragon {
    background-color: rgb(50, 24, 217);
}

.normal {
    background-color: rgb(168, 162, 157);
}

.fairy {
    background-color: rgb(255, 148, 191);
}